.m-button {
    background-color: #019160;
    border-radius: 4px;
    height: 40px;
    color: #ffffff;
    padding: 0px 16px;
    text-align: left;
    outline: none;
    border: none;
    cursor: pointer;
    min-width: 100px;
    align-items: center;
}

.m-button span {
    padding-top: 2px;
    margin-left: 8px;
}

.m-button:hover {
    background-color: #2fbebe;
}

.m-button:active {
    background-color: #01b075;
}


/*Button icon */

.m-button-icon {
    display: flex;
    /* margin-right: 0px;
    text-align: left;
    padding: 0px 16px;
    padding-left: 40px;
    background-repeat: no-repeat;
    background-position: 16px center;
    
    background-image: url('/contents/icon/add.png'); */
}


/* Button only icon */

.m-button-second {
    padding: 0px;
    margin: 0px;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    color: #000000;
    width: 40px;
    height: 40px;
    text-align: center;
    outline: none;
    cursor: pointer;
}

.m-button-refresh {
    background-image: url(/contents/icon/refresh.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
}


/* Nhút cho phân trang */

.m-button-paging {
    background-repeat: no-repeat;
    background-position: center;
    background-color: #e9ebee;
    background-size: 25px 25px;
    border: 0;
    width: 25px;
    height: 25px;
    margin: 0px 5px;
}

.m-button-paging:hover {
    background-color: #ffffff;
}

.m-button-paging-first {
    background-image: url(/contents/icon/btn-firstpage.svg);
}

.m-button-paging-last {
    background-image: url(/contents/icon/btn-lastpage.svg);
}

.m-button-paging-next {
    background-image: url(/contents/icon/btn-next-page.svg);
}

.m-button-paging-prev {
    background-image: url(/contents/icon/btn-prev-page.svg);
}


/* Thu nhỏ menu */

.m-button-minimize {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    position: absolute;
    bottom: 16px;
    right: 0px;
    background-image: url(/contents/icon/minimize.png);
}