/* Phần filter của main */

.container__main-filter {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
}


/* Phần bên trái */

.container__main-filter--left {
    height: 40px;
    width: calc(100% - 40px);
}


/* Phần bên phải */

.container__main-filter--right {
    position: absolute;
    right: 16px;
    height: 40px;
}