.container__main-grid {
    width: 100%;
}

table {
    border: 0;
    width: 100%;
}

table th,
td {
    border-bottom: 1px solid #bbbbbb;
    text-align: left;
    padding: 10px 16px;
    /* overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; */
}

tbody tr:nth-child(even),
th {
    background: #ffffff;
}